
<html> 
  <head> 
    <title>Test</title> 
  </head> 
  <body> 
    <h1>Learning PostgreSql with Python and Flask</h1> 
  
    <h2>Person Details</h2> 
    <table> 
      <thead> 
        <tr> 
          <th>SSN</th> 
          <th>Name</th> 
          <th>Gender</th> 
          <th>Age</th> 
        </tr> 
      </thead> 
      <tbody> 
        {% for row in data %} 
        <tr> 
          <td>{{ row.ssn }}</td>
          <td>{{ row.name }}</td>
          <td>{{ row.gender }}</td>
          <td>{{ row.age }}</td>
          </tr>
        </tbody>
        {% endfor %} 
        </table>
        

    <h2>Add Person</h2> 
    <form action="/add" method="post"> 
      <input type="number" name="ssn" placeholder="SSN"> 
      <input type="text" name="name" placeholder="Name"> 
      <input type="text" name="gender" placeholder="Gender"> 
      <input type="number" name="age" placeholder="Age"> 
      <input type="submit" value="Add"> {{msg}}
    </form> 

    
    <h2>Delete Person</h2>
    <form action="/delete" method="post"> 
          <input type="number" name="ssn" placeholder="SSN"> 
          <input type="submit" value="Delete"> {{msg1}}
      </form> 


      <h2>Update Person</h2>
    <form action="/update" method="post"> 
      <input type="number" name="ssn" placeholder="SSN"> 
      <input type="text" name="name" placeholder="Name"> 
      <input type="text" name="gender" placeholder="Gender"> 
      <input type="number" name="age" placeholder="Age">  
        <input type="submit" value="Update"> {{msg2}}
      </form>
  </body> 
</html> 